@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway:wght@400;500&display=swap");

* {
	box-sizing: border-box;
}

:root {
	--darkBlue-subheading: #3e505b;
	--grayBlue-text: #647589;
	--lightBlue-btn: #2696bf;
	--darkblue-btn: #144766;
	--nav-bg: #0f1010;
	--yellowActive-link: #e9c46a;
	--red-text: #ff0000;
	--product-bg: #e3e3e3;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Raleway", sans-serif;
	display: flex;
	flex-direction: column;
	background-image: url(../images/brick-wall.png);
	margin: 0;
}

h1 {
	font-family: "Playfair Display", serif;
	font-size: 1.5rem;
	color: var(--green-btn);
}

h2 {
	color: var(--nav-bg);
}

h3 {
	font-size: 1.2rem;
}

h4,
h5 {
	color: var(--darkBlue-subheading);
	font-size: 1.2rem;
}

h6 {
	color: var(--grayBlue-text);
}

p {
	color: #536b79;
	margin: 0 auto;
	width: 90%;
	max-width: 900px;
	padding: 1rem;
	line-height: 1.5;
	padding-bottom: 2rem;
}

.heading,
.heading-categories {
	font-family: "Playfair Display", serif;
	font-size: 1.8rem;
	line-height: 2;
	text-align: center;
	padding: 2rem 0 1rem 0;
}

.heading {
	color: var(--darkBlue-subheading);
}

.heading-categories {
	color: var(--nav-bg);
}

.wrapper {
	flex: 1 0 auto;
}

.container,
.container-fluid,
.footer_container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	padding-top: 2em;
	padding-bottom: 3em;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	align-items: center;
}

.grid-item {
	width: 10rem;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border-radius: 0.25rem;
	margin: 0.25rem;
}

.grid-item img {
	border: 2px solid var(--nav-bg);
}

.categories {
	color: white;
	background-color: rgba(91, 97, 100, 0.9);
	background-image: url(../images/brick-wall.png);
	margin-top: 1rem;
	padding-bottom: 3rem;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.container-products {
	background-color: var(--product-bg);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.container-popular {
	background-color: #d4d4d4;
}

.bold-text {
	font-weight: 600;
	font-size: 0.9rem;
}

.before-price {
	color: var(--darkBlue-subheading);
	text-decoration: line-through;
}

.now-price {
	color: var(--red-text);
}

.view-all-btn {
	text-align: center;
	height: 100px;
	padding-bottom: 3rem;
}

.footer {
	padding: 2rem 1.5rem;
	/* background: var(--nav-bg); */
	flex-shrink: 0;
	font-size: 0.8em;
	color: white;
	background-color: var(--nav-bg);
	background-image: url(../images/brick-wall-dark.png);
}

.footer_container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.footer_container--icon {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.footer_container--copyright {
	margin: 1rem 0;
}

.footer_container--company {
	color: var(--yellowActive-link);
}

i.fab,
i.fas {
	font-size: 2rem;
}

/* Custom bootstrap */

a.card-text {
	color: var(--nav-bg);
	text-decoration: none;
}

a.card-text:hover {
	color: #ffffff;
}

.bg-light {
	background: var(--nav-bg) !important;
	color: #ffffff;
}

.navbar {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.navbar-nav {
	margin-left: 1.5rem;
}

.navbar-light .navbar-toggler {
	color: #ffffff;
}

.navbar-light .navbar-nav .nav-link,
.nav-link .navbar-light .navbar-nav .show > .nav-link {
	color: #ffffff;
}

.navbar-light .navbar-nav .nav-link.active {
	color: var(--yellowActive-link);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #e9c46a;
}

.navbar-toggler {
	background-color: #fff;
	border: 1 px solid #fff;
}

.navbar-brand {
	padding-top: 0.3125 rem;
	padding-bottom: 0.3125 rem;
	margin-right: 1 rem;
	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap;
	width: 120px;
}

.btn-outline-success {
	color: var(--yellowActive-link);
	border-color: var(--yellowActive-link);
}

.btn-outline-success:hover {
	background-color: var(--yellowActive-link);
	border-color: var(--yellowActive-link);
	color: black;
}

.btn-link {
	color: var(--lightBlue-btn);
	font-weight: 400;
	text-decoration: none;
	padding-left: 0;
}

.btn-link:hover {
	color: var(--darkblue-btn);
}

.btn-info {
	background: var(--lightBlue-btn);
	color: #ffffff;
	font-weight: 400;
	border: 1px solid var(--lightBlue-btn);
}

.btn-info:hover {
	background: var(--darkblue-btn);
	color: #ffffff;
	border: 1px solid var(--lightBlue-btn);
}

.card {
	width: 18rem;
	background-color: transparent;
	border: none;
	margin: 1rem 1.5rem;
}

.card-body {
	margin: 0 auto;
}

.card img {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.carousel-inner {
	border: 3px solid #ffffff;
	border-radius: 5px;
}

.carousel-indicators {
	margin-bottom: 2rem;
}

.carousel-indicators [data-bs-target] {
	width: 30px;
	height: 30px;
	margin-right: 0.5em;
	margin-left: 0.5em;
	border: 1px solid #fff;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media (max-width: 576px) {
	.container {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.grid-item {
		width: 13rem;
	}

	.heading,
	.heading-categories {
		font-size: 1.2rem;
		line-height: 1.5;
		font-weight: 600;
		padding-bottom: 1rem;
	}

	.d-block {
		height: 160px;
	}

	.carousel-indicators [data-bs-target] {
		width: 15px;
		height: 15px;
	}

	.footer_container {
		grid-template-columns: 1fr;
	}

	.footer_container > div {
		padding: 1rem 0;
	}

	i.fab,
	i.fad {
		font-size: 1.8rem;
	}

	.bold-text {
		font-size: 1rem;
	}
}

@media (min-width: 992px) {
	.card {
		width: 18rem;
	}
}
